:root {
    --blue_col: rgb(43, 129, 183);
}

.wy-nav-content {
    max-width: none !important;
}

/* Remove gradient and use blue color for side navigation */
.wy-side-nav-search {
    background: rgb(43, 129, 183);
}

/* Set the top, side navigation, and version section to blue color */
.wy-nav-top,
.wy-nav-side,
.rst-versions .rst-current-version {
    background: rgb(43, 129, 183);
}

/* Remove the gray border on versions and use blue instead */
.rst-versions {
    border-top: solid 10px rgb(43, 129, 183);
}

/* Commented-out setting for rst-content. If you want to use it in the future, simply uncomment */
/*
.rst-content {
    text-indent: 50px;
}
*/

/* Grey color for code sections */
code {
    color: grey;
}

/* Media query to set the content wrap max-width */
@media only screen and (min-width: 1024px){
   
